<div class="panel panel-default row" ng-controller="productListCtrl" ng-hide="data.error">
	<div class="col-xs-3">
		<a ng-click="selectCategory()" class="btn btn-block btn-default btn-lg">Home</a>
		<a ng-repeat="item in data.products | orderBy:'category' | unique:'category'"
		ng-click="selectCategory(item)" class="btn btn-block btn-default btn-lg"
		ng-class="getCategoryClass(item)">
		{{item}}
		</a>
	</div>
	<switchItemsView class="col-xs-8">
		<ul id="products" class="list clearfix">
			<li class="well clearfix"  ng-repeat="item in data.products | filter:categoryFilterFn | range:selectedPage:pageSize">
				<section class="left">
					<img src="images/products/list-default-thumb.png" alt="default thumb" class="thumb">
					<h3>{{item.name}}</h3>
					<span class="meta">Product ID: 543J423</span>
				</section>

				<section class="right">
					<span class = "price pull-right label label-primary">
						{{item.price || currency}}
					</span>
					<span class="darkview">
						<button ng-click="addProductToCart(item)" class="btn btn-success pull-right">
							Add to cart
						</button>
						<span class="lead">{{item.description}}</span>						
					</span>
				</section>

			</li>
		</ul>
	</switchItemsView>

	<div class="pull-right btn-group">
		<a 
		ng-repeat="page in data.products | filter:categoryFilterFn | pageCount:pageSize"
		ng-click = "selectPage($index + 1)" class="btn btn-default"
		ng-class = "getPageClass($index + 1)">
		{{$index + 1}}
		</a>
	</div>

</div>