<div class="panel panel-default row" ng-controller="productListCtrl" ng-hide="data.error">
	<div class="col-xs-3">
		<a ng-click="selectCategory()" class="btn btn-block btn-default btn-lg">Home</a>
		<a ng-repeat="item in data.products | orderBy:'category' | unique:'category'"
		ng-click="selectCategory(item)" class="btn btn-block btn-default btn-lg"
		ng-class="getCategoryClass(item)">
		{{item}}
		</a>
	</div>

	<productlst class="col-xs-8" source="data.products" FilterFn="categoryFilterFn()"
		page-size="{{pageSize}}">
	</productlst>

	
</div>