<div class="panel panel-default row" ng-controller="productListCtrl" ng-hide="data.error">
	
 	<categorylst source="products" get-category-class-fn="getCategoryClass" select-category-fn="selectCategory(category)" get-selected-category-fn="getSelectedCategory()" category-class-fn="getCategoryClass(category)">

		<productlst source="products" 
			page-size="pageSize" filter-fn="categoryFilterFn" selected-category-fn="getSelectedCategory()">
			<!-- looking the difference between the way we pass function above:
			categoryFilterFn but getSelectedCategory() ???
			-->
		</productlst>

 	</categorylst>

</div>
